@charset "UTF-8";

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgb(255, 255, 255);
  line-height: 1;
  font-family: "Gilroy";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Gilroy";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 85rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

html {
  scroll-behavior: smooth;
}

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #212121;
}

.first {
  position: relative;
  height: 100vh;
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.first__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.first::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(22, 22, 22, 0.7882352941);
}

.first__container {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  padding-bottom: 3.6%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.first__title {
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  line-height: 80px;
  margin-bottom: 34px;
  text-align: center;
}

.first__text {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.first__button {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 220px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.first__next {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  cursor: pointer;
}

.first__next:hover {
  -webkit-transform: translate(0, 20px);
      -ms-transform: translate(0, 20px);
          transform: translate(0, 20px);
}

.individual {
  padding-top: 150px;
}

.individual__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.individual__title {
  min-width: 781px;
  margin-bottom: 22px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
}

.individual__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  opacity: 0;
  -webkit-transform: translate(-30px, 0);
      -ms-transform: translate(-30px, 0);
          transform: translate(-30px, 0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.individual__items {
  margin-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  max-width: 549px;
}

.individual__item {
  padding: 30px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  border-radius: 6px;
  opacity: 0;
  -webkit-transform: translate(-50px, 0);
      -ms-transform: translate(-50px, 0);
          transform: translate(-50px, 0);
}

.individual__item-icon {
  padding: 16px;
  background-color: #FF7B01;
  border-radius: 4px;
}

.individual__item-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  max-width: 232px;
}

.person {
  position: relative;
  padding-top: 47.9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 58.1%;
  margin-left: -200px;
}

.person__picture {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.person__info {
  position: relative;
  z-index: 1;
  padding-bottom: 14%;
  padding-left: 10.88%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  bottom: 0;
  margin-top: auto;
}

.person__name {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
}

.feature__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__type {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.feature__value {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #FF7B01;
}

.person__info-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
}

.services {
  padding-top: 40px;
  padding-bottom: 150px;
  padding-top: 150px;
}

.services__title {
  margin-bottom: 40px;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.services__picture {
  position: relative;
  padding-top: 36.78%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  max-width: 800px;
  min-width: 55%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.services__picture img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__picture:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.services__picture::after {
  content: "";
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(22, 22, 22, 0.3098039216);
}

.services__item {
  padding-top: 7%;
}

.services__item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  padding-bottom: 29px;
  position: relative;
  margin-bottom: 23px;
}

.services__item-title::after {
  content: "";
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 2px;
  background-color: #FF7B01;
}

.services__item-text {
  max-width: 403px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
}

.for-free {
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative;
}

.for-free__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.for-free::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(22, 22, 22, 0.5058823529);
}

.for-free__container {
  position: relative;
  z-index: 3;
}

.for-free__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.for-free__item {
  border-radius: 6px;
  background-color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 30px 30px 39px 30px;
  -webkit-transform: translate(0, 30px);
      -ms-transform: translate(0, 30px);
          transform: translate(0, 30px);
  opacity: 0;
}

.for-free__item-icon {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 16px;
  background-color: #FF7B01;
  margin: 0 auto;
  border-radius: 4px;
  margin-bottom: 25px;
}

.for-free__item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 6px;
}

.for-free__item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 201px;
}

.brand {
  padding-top: 150px;
}

.brand__title {
  margin-bottom: 40px;
}

.brand__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.brand__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 66%;
  position: relative;
  padding-left: 30px;
  opacity: 0;
  -webkit-transform: translate(0, 20px);
      -ms-transform: translate(0, 20px);
          transform: translate(0, 20px);
}

.brand__item img {
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.brand-dental img {
  width: 76%;
  height: 64.7%;
}

.brand-best img {
  width: 49.26%;
  height: 72.4%;
}

.brand-grife img {
  width: 68.38%;
  height: 50%;
}

.brand-est img {
  width: 81.62%;
}

.brand-privat img {
  width: 54%;
}

.our-hall {
  padding-top: 150px;
}

.our-hall__content {
  margin: 0 auto;
}

.our-hall__title-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  margin: 0 auto;
  max-width: 1390px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 40px;
}

.our-hall__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.swiper-button-prev {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  width: 48px;
  height: 16px;
  background: url("../img/main/our-hall/swiper/arrow-l.svg") center center no-repeat;
}

.swiper-button-next {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  width: 48px;
  height: 16px;
  background: url("../img/main/our-hall/swiper/arrow-r.svg") center center no-repeat;
}

.swiper-button-prev:hover {
  opacity: 0.5;
}

.swiper-button-next:hover {
  opacity: 0.5;
}

.swiper {
  margin-right: calc((100% - 100vw) / 2);
  padding-right: calc((100vw - 1370px) / 2);
}

.swiper-wrapper {
  padding-left: calc(100% - 1370px);
}

.swiper-slide {
  position: relative;
  padding-top: 34.96%;
}

.swiper-slide::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.144);
}

.swiper-slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.contacts {
  padding-top: 150px;
  padding-bottom: 150px;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 83px;
}

.contacts__block-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 549px;
}

.contacts__title {
  margin-bottom: 15px;
}

.contacts__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  max-width: 506px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 51px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.9647058824);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.input:hover {
  border-bottom: 1px solid #FF7B01;
}

.input:focus {
  outline: none;
}

.input-name {
  background: url("../img/main/contacts/form/1.svg") left 45px no-repeat;
}

.input-contact {
  background: url("../img/main/contacts/form/2.svg") left 45px no-repeat;
}

.textarea {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
  background: url("../img/main/contacts/form/3.svg") left 45px no-repeat;
  padding-top: 50px;
  padding-bottom: 6px;
  padding-left: 51px;
  resize: none;
  border-bottom: 1px solid #FFFFFF;
}

.textarea:hover {
  border-bottom: 1px solid #FF7B01;
}

.input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
}

.input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
}

.input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
}

.input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
}

.input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
}

.textarea:focus {
  outline: none;
}

.textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
}

.textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
}

.textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
}

.textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
}

.textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
}

.button-form {
  margin-top: 50px;
  padding: 20px;
  max-width: 220px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.contacts__block-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 26px;
  gap: 40px;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__item-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  padding-left: 50px;
  padding-bottom: 9px;
  position: relative;
  margin-bottom: 15px;
}

.contacts__item-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50px;
  height: 1px;
  width: 120px;
  background: #FF7B01;
}

.title-tel {
  background: url("../img/main/contacts/social/Phone.svg") left 6px no-repeat;
}

.contacts__block-tel {
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__link-tel {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.contacts__link-tel:hover {
  color: #FF7B01;
}

.contacts__link-tel:active {
  opacity: 0.6;
}

.title-mail {
  background: url("../img/main/contacts/social/mail.svg") left 6px no-repeat;
}

.contacts__block-mail {
  padding-left: 50px;
}

.contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.social-link {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  padding: 14px;
  border-radius: 50%;
  border: 1px solid #FF7B01;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-link:hover {
  background-color: #FF7B01;
}

.social-link:hover svg path {
  fill: white;
}

.contacts__map {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 728px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.contacts__map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.swiper-button-disabled {
  opacity: 0.3;
}

.element-animation .title {
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate(0, 20px);
      -ms-transform: translate(0, 20px);
          transform: translate(0, 20px);
}

.element-show .title {
  opacity: 1;
  -webkit-transform: translate(0, 0px);
      -ms-transform: translate(0, 0px);
          transform: translate(0, 0px);
}

.button:hover {
  -webkit-box-shadow: 0 5px 15px rgba(255, 255, 255, 0.377);
          box-shadow: 0 5px 15px rgba(255, 255, 255, 0.377);
}

.button:active {
  -webkit-box-shadow: inset 0 0 8px rgb(0, 0, 0);
          box-shadow: inset 0 0 8px rgb(0, 0, 0);
}

.element-show .services__item-title::after {
  width: 120px;
}

.element-show .for-free__items .for-free__item {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.element-show .for-free__items .for-free__item:nth-child(1) {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.element-show .for-free__items .for-free__item:nth-child(2) {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.element-show .for-free__items .for-free__item:nth-child(3) {
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.element-show .for-free__items .for-free__item:nth-child(4) {
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.element-show .for-free__items .for-free__item:nth-child(5) {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.element-show .for-free__items .for-free__item:nth-child(6) {
  -webkit-transition: 1.2s;
  -o-transition: 1.2s;
  transition: 1.2s;
}

.element-show .brand__container .brand__items .brand__item {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.element-show .brand__container .brand__items .brand__item:nth-child(1) {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.element-show .brand__container .brand__items .brand__item:nth-child(2) {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.element-show .brand__container .brand__items .brand__item:nth-child(3) {
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.element-show .brand__container .brand__items .brand__item:nth-child(4) {
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.element-show .brand__container .brand__items .brand__item:nth-child(5) {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.element-show .individual__container .individual__content .individual__items .individual__item {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.element-show .individual__container .individual__content .individual__items .individual__item:nth-child(1) {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.element-show .individual__container .individual__content .individual__items .individual__item:nth-child(2) {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.element-show .individual__container .individual__content .individual__items .individual__item:nth-child(3) {
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.element-show .individual__container .individual__content .individual__text {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 100;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

._header-scroll {
  background: black !important;
}

.wrapper {
  position: relative;
}

.wrapper::after {
  content: "";
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  left: 0%;
  top: 0;
  width: 100%;
  min-height: 0;
  z-index: 90;
  position: absolute;
  background-color: rgba(150, 56, 56, 0);
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

._bg-active::after {
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  z-index: 90;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.555);
  -webkit-filter: blur(20px) !important;
          filter: blur(20px) !important;
}

._bg-active {
  overflow-y: hidden !important;
}

._bg-active-header {
  background: black !important;
}

.menu {
  position: relative;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

._header-scroll .menu {
  min-height: 80px !important;
}

.menu__icon {
  display: none;
}

.menu__icon::after {
  content: "";
  position: absolute;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  width: 100%;
  height: 1px;
  left: 0;
  top: 0;
  background-color: white;
}

.menu__icon::before {
  content: "";
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: calc(100% - 1px);
  background-color: white;
}

.menu__icon span {
  position: absolute;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  width: 100%;
  height: 1px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
}

._icon-active span {
  width: 0% !important;
}

._icon-active::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 11px !important;
  -webkit-transform: rotate(45deg) !important;
      -ms-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important;
}

._icon-active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: calc(100% - 15px) !important;
  -webkit-transform: rotate(-45deg) !important;
      -ms-transform: rotate(-45deg) !important;
          transform: rotate(-45deg) !important;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 140px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  max-width: 40%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.menu__logo {
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.menu__link:hover {
  color: #FF7B01;
}

.menu__link:active {
  opacity: 0.6;
}

.menu__logo img {
  height: 135px;
  width: 140px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

._header-scroll .menu__logo img {
  height: 85px !important;
  width: 90px !important;
}

.menu__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px 20px;
  max-width: 40%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__link-contact {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  padding: 15px;
  min-width: 180px;
}

.menu__link-tel {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  line-height: 18px;
}

.menu__link-tel:hover {
  color: #FF7B01;
}

.menu__link-tel:active {
  opacity: 0.6;
}

.button {
  text-align: center;
  border-radius: 40px;
  background-color: #FF7B01;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 0px 0px rgba(255, 255, 255, 0.555);
          box-shadow: 0 0px 0px rgba(255, 255, 255, 0.555);
}

._menu-active {
  left: 0 !important;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  background-color: black;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 110px;
}

.footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.footer__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer__logo img {
  width: 97px;
  height: 101px;
}

.footer__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 300px;
  text-align: right;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 1400px) {
  .services {
    padding-top: 80px;
  }
}

@media (max-width: 61.99875em) {
  .first {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }

  .first__title {
    font-size: 80px;
  }

  .individual {
    padding-top: 100px;
  }

  .individual__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .individual__title {
    min-width: 100%;
  }

  .title {
    font-size: 38px;
    line-height: 45px;
  }

  .individual__items {
    max-width: 100%;
  }

  .individual__item {
    padding: 25px;
    gap: 20px;
  }

  .individual__item-text {
    max-width: 100%;
  }

  .person {
    margin-top: 40px;
    margin-left: 0px;
    min-width: 70%;
  }

  .person__info {
    padding-bottom: 15%;
    -webkit-transform: translate(0, 50%);
        -ms-transform: translate(0, 50%);
            transform: translate(0, 50%);
  }

  .services {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .services__content {
    gap: 40px;
  }

  .services__items {
    gap: 25px;
  }

  .services__item {
    padding-top: 3%;
  }

  .services__item-title {
    font-size: 30px;
    line-height: 36px;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .services__item-text {
    font-size: 18px;
    line-height: 28px;
  }

  .for-free {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .for-free__items {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .brand {
    padding-top: 100px;
  }

  .our-hall {
    padding-top: 100px;
  }

  .contacts {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .contacts__content {
    gap: 50px;
  }

  .contacts__text {
    font-size: 18px;
    line-height: 30px;
  }

  .input {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .input-name {
    background: url("../img/main/contacts/form/1.svg") left 27px no-repeat;
  }

  .input-contact {
    background: url("../img/main/contacts/form/2.svg") left 27px no-repeat;
  }

  .textarea {
    padding-top: 30px;
    padding-bottom: 3px;
    background: url("../img/main/contacts/form/3.svg") left 27px no-repeat;
  }

  .contacts__block-map {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    min-width: 50%;
  }

  .contacts__items {
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts__link-tel {
    font-size: 20px;
    line-height: 32px;
  }

  .contacts__map {
    min-height: 300px;
  }

  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .menu {
    min-height: 80px;
  }

  ._header-scroll .menu {
    min-height: 50px !important;
  }

  .menu__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 26px;
    z-index: 300;
  }

  .menu__nav {
    gap: 80px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    min-width: calc(100% + 30px);
    top: 110px;
    left: calc(-100% - 30px);
    background-color: rgb(0, 0, 0);
    z-index: 110;
    margin-left: -15px;
    margin-top: -15px;
    margin-right: -15px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 25px;
    line-height: 28px;
    gap: 30px;
  }

  ._header-scroll .header__container .header__menu .menu__nav .menu__list {
    top: 80px !important;
  }

  .menu__logo img {
    height: 85px;
    width: 90px;
  }

  ._header-scroll .menu__logo img {
    height: 55px !important;
    width: 60px !important;
  }

  .menu__link-tel {
    font-size: 28px;
    line-height: 30px;
  }

  .footer {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }

  .footer__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__logo {
    position: static;
    top: 0;
    left: 0;
    -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer__logo img {
    width: 60px;
    height: 55px;
  }

  .footer__info {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 47.99875em) {
  .first__title {
    font-size: 55px;
    line-height: 50px;
    margin-bottom: 24px;
  }

  .first__text {
    font-size: 20px;
    line-height: 31px;
  }

  .title {
    font-size: 32px;
    line-height: 40px;
  }

  .individual__text {
    font-size: 22px;
    line-height: 38px;
  }

  .services__title {
    margin-bottom: 20px;
  }

  .services__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .services__picture {
    padding-top: 50%;
  }

  .services__item-title {
    font-size: 26px;
    line-height: 30px;
  }

  .for-free__items {
    gap: 20px;
  }

  .for-free__item {
    padding: 20px;
  }

  .for-free__item-text {
    font-size: 15px;
    line-height: 23px;
  }

  .brand__items {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .swiper-slide {
    padding-top: 70%;
  }

  .contacts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts__block-form {
    max-width: 100%;
  }

  .contacts__text {
    max-width: 100%;
  }

  .button-form {
    margin: 0 auto;
    min-width: 300px;
    margin-top: 50px;
  }

  .menu__link-contact {
    min-width: 130px;
  }
}

@media (max-width: 29.99875em) {
  .first__title {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .first__text {
    font-size: 18px;
    line-height: 28px;
  }

  .for-free__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .brand__items {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .button-form {
    min-width: 100%;
  }

  .menu__link-contact {
    min-width: 200px;
    font-size: 20px;
    line-height: 28px;
  }
}